<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    <!-- <h1>hello from the express js project website </h1>
    <button class="btn btn-danger">hello</button> -->
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="images/about.png"
                  alt="yash"
                  class="img-fluid"
                  title="yash_shukla"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather_App</p>
              <h1>
                I Am A
                <span class="text_clr">Mern Stack Developer</span> Student And A
                Freelancer
              </h1>

              <a href="https://www.google.com/" target="_google"><button>About US</button></a> 
            </div>
            <!-- right side div -->
          </div>
        </div>
      </div>
    </div>
    <!-- footer code -->
    {{>footer}}
  </body>
</html>
